{% extends 'base.html' %}

{% block title %}
    <title> About </title>

{% endblock title %}
{% load static %}
{% block content %}
</br>
<div class="container">
    <div class="row">
      <div class="col-lg-4 bg-dark text-white text-center">
        <div class="header-left">
          <img src="{% static 'images/img.jpg' %}" class="img-thumbnail rounded-circle" alt="Kiran Khanna" style="width:30%;height:30%;">
          <h1 class="display-5">Kiran Khanna</h1>
          <h4 class="lead text-uppercase text-white">Student-AM.EN.U4AIE19037</h4>
        </div>
        <div>
          <h5 class="text-uppercase bg-light text-dark rounded-pill">Contact</h5>
          <ul class="list-unstyled text-left text-white">
            <li class="list-item">
              <i>&#9742;</i>
              +919100006568
            </li>
            <li class="list-item">
              <i>&#9993;
              </i>
              khkiran01@gmail
            </li>
          </ul>
        </div>
        <div>
          <h5 class="text-uppercase bg-light text-dark rounded-pill">AREA OF INTEREST</h5>
          <ul class="list-unstyled text-left text-white">
            <li class="list-item">Machine Learning Engineer</li>
            <li class="list-item">Deep Learning Engineer</li>
            <li class="list-item">NLP Engineer</li>
            <li class="list-item">Data Science</li>
            <li class="list-item">Software Developer</li>
            <li class="list-item">Software Engineer</li>
          </ul>
        </div>
        <div>
          <h5 class="text-uppercase bg-light text-dark rounded-pill">Skills</h5>
          <ul class="list-unstyled text-left text-white">
            <li class="list-item">Python3</li>
            <li class="list-item">Java</li>
            <li class="list-item">Machine Learning</li>
            <li class="list-item">Deep Learning</li>
            <li class="list-item">Data Structures and Algorithms</li>
            <li class="list-item">Flask</li>
          </ul>
        </div>
        <div>
          <h5 class="text-uppercase bg-light text-dark rounded-pill">LANGUAGES</h5>
          <ul class="list-unstyled text-left text-white">
            <li class="list-item">English</li>
            <li class="list-item">Hindi</li>
          </ul>
        </div>
        <div>
          <h5 class="text-uppercase bg-light text-dark rounded-pill">COMPETITIONS</h5>
          <ul class="list-unstyled text-left text-white">
            <li class="list-item">
              <h6 class="h6">SBUHacks</h6>
              <p>Rocketing Finances Hack</p>
              <p>Sep 2021</p>
            </li>
            <hr>
            <li class="list-item">
              <h6 class="h6">SAAI Factory - Hackathon on AI</h6>
              <p>Prize for AI, Art and Society</p>
              <p>June 2021 - Sep 2021</p>
            </li>
           <hr>
           <li class="list-item">
             <h6 class="h6">2021 NY Artificial Intelligence Healthcare</h6>
             <p>Best Middle/High School Project</p>
             <p>Oct 2021 - Nov 2021</p>
           </li>
           <hr>
          <li class="list-item">
            <h6 class="h6">Ink and Metal | STEM Olympics</h6>
            <p>AI/Machine Learning - Second Place</p>
            <p>Dec 2021</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 bg-light text-dark">
      <div class="header-right">
        <h4 class="text-uppercase">Profile</h4>
        <hr>
        <p>
          Creative and dedicated computer science with AI undergraduate experienced in different machine learning and deep learning models and some web
applications skills , good in finding solutions for the problem and very much
passionate to learn new things and help others.
        </p>
      </div>
      <hr>
      <div>
        <h4 class="text-uppercase">EDUCATION</h4>
        <hr>
        <ul class="list-unstyled text-left text-dark">
          <li class="list-item">
            <h6 class="h6">B.Tech in Computer Science With AI</h6>
            <p> Amrita School Of Engineering</p>
            <p>CGPA:8.17</p>
            <p><i class="bi bi-calendar"></i>2019 - 2023 </p>
          </li>
          <hr>
          <li class="list-item">
            <h6 class="h6">HSL(12th)</h6>
            <p> Narayana Junior College</p>
            <p>CGPA:95%</p>
            <p><i class="bi bi-calendar"></i> 2017 - 2019</p>
          </li>
          <hr>
          <li class="list-item">
            <h6 class="h6">SSLC (10th)</h6>
            <p> All Saint’s High School</p>
            <p>CGPA:8.7</p>
            <p><i class="bi bi-calendar"></i>2005 - 2017</p>
          </li>
        </ul>
      </div>
      <hr>
      <div>
        <h4 class="text-uppercase">INTERNSHIPS</h4>
        <hr>
        <ul class="list-unstyled text-left text-dark">
          <li class="list-item">
            <h6 class="h6">WebGlobic Technologies GmbH</h6>
            <p>Student Intern</p>
            <ul class="list-unstyled text-left text-dark">
              <li class="list-item">
                <i class="bi bi-calendar"></i>
                 Apr - Aug 2021
              </li>
              <li class="list-item">
                <p>This internship i got to explore different tools like tableau.</p>
                <p>Tableau,Web development,Machine Learning,Excel</p>
              </li>

            </ul>
          </li>
          <hr>
          <li class="list-item">
              <h6 class="h6">Dr Reddys Laboratories</h6>
              <p>Student Intern</p>
              <ul class="list-unstyled text-left text-dark">
                <li class="list-item">
                  <i class="bi bi-calendar"></i>
                    Aug- Nov 2020
                </li>
                <li class="list-item">
                  <p> Tools - Machine learning,deep learning,python.</p>

                </li>
                <hr>

              </ul>
            </li>

              </li>

            </ul>
          </li>
        </ul>
      </div>
      <hr>
      <div>
        <h4 class="text-uppercase">Project</h4>
        <hr>
        <ul class="list-unstyled text-left text-dark">
          <li class="list-item">
            <a href="{% url 'tic' %}"><h6 class="h6">TIC TAC TOE Game</h6></a>
          </li>
        </ul>
      </div>
      <hr>

    </div>
  </div>
</div>
{% endblock content%}